body{
    background-color: rgb(90, 153, 208);
}
.field{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
h1{
    text-align: center;
}
#nam:hover 
{

    color: red;
}
#number:hover
{
  color: red;
}
#phnumber:hover{
    color: red;
}
#mail:hover
{
    color: red;
}
.set
{
    background-color: aliceblue;

}